.inicio-post{
    background-color: #F2FFFC;
    position: absolute;
    color: black;
    top: 5em;
    left: 22%;
    right: 1em;
    height: 8em;
    color: #000;
}
header {
  position: relative;
}
.foto-home {
    border-radius: 50%;
    height: 200px;
}
.sutitulo-principal{
    text-transform: lowercase;
    font-size: .5em;
}
.palavra-home{
    font-family: "Shadows Into Light";
    color: #D5447E;

}
.eficiencia {
  position: absolute;
  top: 50%;
  left: 60%;
}
.boas-praticas{
    position: absolute;
    top: 70%;
    left: 61%;
}
.codigo-limpo{
    position: absolute;
    top: 30%;
    left: 0%;
}
.css3{
    position: absolute;
    top: 10%;
    right: 10%;
}
.html5{
    position: absolute;
    top: 10%;
    left: 10%;
}
.javascript{
    position: absolute;
    top: 20%;
    left: 57%;
}
.acessibilidade{
    position: absolute;
    top: 30%;
    left: 20%;
}
.Responsivo{
    position: absolute;
    top: 36%;
    left: 80%;
}
.otimizacoes{
    position: absolute;
    top: 50%;
    left: 10%;
}
.agilidade{
    position: absolute;
    top: 11%;
    left: 28%;
}
.design{
    position: absolute;
    top: 70%;
    left: 10%;
}

.saudacao p {
    font-size: 1.5;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 4em;
    color: #000;
}
.saudacao em {
    font-size: 4em;
    color: #851944;
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 30ch;
    margin: 1em auto;
    display: block;
    text-align: center;
    text-decoration: none;
}
.secao-inicio{
    padding: 3em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    margin-bottom: .5em;
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    position: relative;
}
.blog small {
    color: #FFF;
    position: relative;
    top: -2em;
}
.mais-recente {
  background-color: #F2FFFC;
}
.blog .mais-recente a {
  color: #F26;
}
.blog li {
  width: 30%;
}
.blog li a {
    color: #FCF;
    padding: .5em;
}
footer {
    font-size: .6em;
    background-color: #000;
    color: #FFF;
}
footer a {

    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
    margin-bottom: 2em;
}
