html{
    font-size: 100%;
}
body{
	font-family: "Crimson Text", serif;
	background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}
h1{
    text-transform: uppercase;
}
.titulo-principal{
    font-size: 300%;
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	color: #FFF;
	background-color: #851944;
    padding: 2rem;
    margin: 0;
    border-bottom: 0.5rem solid #000;
}
.container {
    width: 720px;
    margin: 0px auto;
    padding: 2rem 2rem 4rem;
}
main a {
    color: #851944;
}
h2{
    font-size: 150%;
    clear: both;
	font-family: "Open Sans Condensed", sans-serif;
}

main p{
	text-align: justify;
    margin: 30px 0;
}
blockquote{
    background-color: #D3DDDA;
    padding: 1em;
    border: .5em solid #C2CCCA;
    width: 250px;
    margin: 0;
}
.navegacao{
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
}
.icones-sociais li{
    display: inline-block;
}
.icones-sociais a{

    width: 2em;
    height: 2em;
    display: inline-block;
    text-indent: -9999px;
}
.github{
    background-image: url(C:/Users/johnn/projeto/projeto-bio/img/github.png);
}
.twitter{
    background-image: url(C:/Users/johnn/projeto/projeto-bio/img/twitter.png);
}
.linkid{
    background-image: url(C:/Users/johnn/projeto/projeto-bio/img/linkedin.png);
}
nav h1{
    font-size: 150%;
    margin-bottom: 25px;
}
nav a {
    text-decoration: none;
    color: inherit;

}
.rodape-pagina{
    background-color: #000;
    color: #F2FFFC;
}
article {
    padding-bottom: 1.5em;
    border-bottom: .5em solid #ccc;
    margin-bottom: 1em;
}
aside, .minha-foto{
    box-sizing: border-box;
    float: right;
    border-bottom: .6em solid #000;
    border-left: .5em solid #000;
}
.navegacao{
    width: 20%;
    position: absolute;
    top: 310px;
    right: 0;
}
main {
    width: 80%;
}
footer{
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.minha-foto{
    position: absolute;
    top: 0px;
    right: 0px;
}
