body{
	font-family: "Crimson Text", serif;
	background-color: #F2FFFC;
}
h1{
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	color: #000000;
	background-color: #851944;
}
h2{
	font-family: "Open Sans Condensed", sans-serif;
}
p{
	text-align: justify;
}