body{
	font-family: "Crimson Text", serif;
	background-color: #F2FFFC;
    font-size: 20px;
    line-height: 1.5;
}
.titulo-principal{
    font-size: 60px;
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	color: #F2FFFC;
	background-color: #851944;
    padding: 20px;
    margin: 0;
    border-bottom: 10px solid #000;
    text-transform: uppercase;
}
div{
    width:50%;
    margin: 0 auto;
}
main a {
    color: #851944;
}
h2{
    font-size: 40px;
	font-family: "Open Sans Condensed", sans-serif;
    float: both;
}
p{
	text-align: justify;
    margin: 30px 0;
}
blockquote{
    background-color: #D3DDDA;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0;
}
.navegacao{
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
}
.icones-sociais li{
    display: inline-block;
}
.icones-sociais a{
    
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}
.github{
    background-image: url(github.png);
}
.twitter{
    background-image: url(twitter.png);
}
.linkid{
    background-image: url(linkedin.png);
}
nav h1{
    font-size: 30px;
    margin-bottom: 25px;
}
nav a {
    text-decoration: none;
    color: inherit;
   
}
.rodape-pagina{
    background-color: #000;
    color: #F2FFFC;
}
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.a-mais{
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}
.fiat{
    float: right;
}
.petrobras{
    float: left;
}
aside, img{
    box-sizing: border-box;
    float: right;
    width:  15%;
    border-bottom: 10px solid #000;
    border-left: 10px solid #000;
}
aside{
    clear: right;
    box-sizing: border-box;
}
main {
    float: left;
    width: 85%;
}
footer{
    clear: both;
}