body{
	font-family: "Crimson Text", serif;
	background-color: #F2FFFC;
    font-size: 20px;
    line-height: 1.5;
}
main h1{
    font-size: 60px;
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	color: #F2FFFC;
	background-color: #851944;
    padding: 20px;
    margin: 0;
    border-bottom: 10px solid #000;
}
main a {
    color: #851944;
}
h2{
    font-size: 40px;
	font-family: "Open Sans Condensed", sans-serif;
}
p{
	text-align: justify;
}
blockquote{
    background-color: #D3DDDA;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0;
}
aside{
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
}
aside li{
    display: inline-block;
}
nav h1{
    font-size: 30px;
    margin-bottom: 25px;
}
nav a {
    text-decoration: none;
    color: inherit;
   
}
footer{
    background-color: #000;
    color: #F2FFFC
}
